@using REST_API.Models
@model IEnumerable<Article>   
@{
    ViewData["Title"] = "Tutorial";
}
<div class="container mt-5">
    <div class="row mt-3">
        <div class=" col-lg-11 align-content-lg-stretch mt-3">
            <a asp-action="Create" class="btn btn-primary" role="button">Create New</a>             
            <table class="table table-bordered  table-hover text-center table-striped d-xxl-table-cell">
                 
                <thead style="background-color: aquamarine">
                    <tr class="mt-3 pt-3">
                        <th> </th>
                        <th>
                        @Html.DisplayNameFor(model => model.ArticleId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Language)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ArticleText)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Update" asp-route-id="@item.ArticleId">Edit</a> |
                                @*  <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a> *@

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ArticleId)                               
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Language)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                <span>@Html.Raw(item.ArticleText)</span>
                               @*  @Html.DisplayFor(modelItem => item.ArticleText) *@
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





 