@using REST_API.Models
@model IEnumerable<Article>   
@{
    ViewData["Title"] = "Tutorial";
}

<h1>ArticleList</h1>

<p>
    <a asp-action="Create">Create New</a>  
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArticleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArticleText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Update" asp-route-id="@item.ArticleId">Edit</a> |
                   @*  <a asp-action="Details" asp-route-id="@item.ArticleId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ArticleId">Delete</a> *@

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArticleText)
                </td>
               
            </tr>
        }
    </tbody>
</table>